  * {
margin: 0;
padding: 0%;
  }

#logo {
  width: 5%;
  height: 5%;
}

.header-pai {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  display: inline;
  padding: 20px;
}

nav a {
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  text-decoration: none;
  font-weight: lighter;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a:hover { 
color: rgba(175, 8, 153, 0.664), 0.603);
text-decoration: underline;
}


  #banner{
    width: 100%;
  }
  
  h1 {   
text-align: center;
color: rgb(214, 206, 206); 
text-transform: uppercase;
    }

    body {
        background: rgb(63,94,251);
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(167, 15, 197) 100%);
    }

    .texto {
     background-color: #cccccc;
     font-size: 35px;
     text-align: center;
    }
h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding: 1%;
}




    .servico{
      display: flex;
      width: 100vw;
      height: 300px;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;


    }
    .item-servico {
      display: flex;
      width: 15%;
      height: 290px;
      border: 1px solid  #cccccc;
      color: white;
      justify-self: center;
      align-items: flex-start;
      border-radius: 15px;
      text-transform: uppercase;
      font-size: 40px;
    }

